/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    color: #000;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
.container{
    padding: 0 60px;
}
h2{
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}
h3{
    font-size: 40px;
    margin: 30px 0;
}
h5{
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}
h5:hover{
    color:#ff0606
}
span{
    color:#ff0606
}
/* HEADER */
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: url(imgs/sample4.1.jpg);
    background-size: cover;
}
.container.uno{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.container.uno h1{
    font-size: 50px;
}
nav{
    background: #eee;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -22vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 22vw;
    transition: 0.5s;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    margin: 30px 0;
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    position: relative;
}
nav ul li a::after{
    content: ' ';
    background: #ff3636;
    width: 0;
    height: 2px;
    border-radius: 10px;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width: 100%;
}
nav ul h5{
    text-align: center;
    background: #ddd;
    font-size: 30px;
    font-weight: 600;
    margin: 30px 20px;
    padding: 5px 15px;
    border-radius: 10px;
}
#menuclose{
    display: block;
}
#menucrash{
    display: none;
}
.container.dos h1{
    font-weight: 600;
    font-size: 70px;
}

/* TEAM */
.container.tres{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    position: relative;
}
.container.tres .image{
    display: flex;
    background: transparent;
    width: 40%;
    height: 100%;
    margin-top: 5vh;
    flex-basis: 50%;
    padding: 50px;
}
.image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.team-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    text-align: left;
}
.team-text h2{
    line-height: 20px;
}
.team-text button{
    display: flex;
    align-self: baseline;
    margin: 10px 0;
    padding: 5px 10px;
    background: #fff;
    color: #ff3636;
    border: 2px solid#ff3636;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.team-text button:hover{
    color: #fff;
    background: #ff3636;
}
/* ABOUT */
.About{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    background: #fff;
    width: 100%;
    height: 90vh;
    margin-top: 20vh;
}
.titles{
    display: flex;
    flex-direction: row;
}
.titles h2{
    font-size: 22px;
    margin-right: 20px;
    padding: 20px;
}
.tab{
    cursor: pointer;
    border-top: 1px solid #ff3636;
    border-left: 1px solid #ff3636;
    border-right: 1px solid #ff3636;
    transition: 0.5s;
}
.tab.active{
    background: #ff3636;
    border-top: 1px solid #ff3636;
    border-left: 1px solid #ff3636;
    border-right: 1px solid #ff3636;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.5s;
    color: #fff;
}
.container-bruv{
    display: none;
    transition: 0.5s;
}
.container-bruv.active{
    display: flex;
    flex-direction: row;
    background: #ff3636;
    color: #fff;
    height: 80vh;
    width: 100%;
    border-bottom-left-radius: 15px;
    position: relative;
}
.text-about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5vw;
    flex-basis: 50%;
    padding-bottom: 10vh;
    transition: 0.5s;
}

.text-about button{
    display: flex;
    align-self: baseline;
    margin: 10px 0;
    padding: 5px 10px;
    background: #ff0606;
    color: #fff;
    border: 2px solid#fff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.text-about button:hover{
    color: #ff0606;
    background: #fff;
    border: 2px solid #fff;
}
.image-about{
    display: flex;
    position: relative;
}
.image-about img{
    position: absolute;
    bottom: -15vh;
    left: 0;
    width: 38vw;
    height: 85vh;
    object-fit: cover;
    z-index: 20;
}
/* NUNC MEANING */
.nunc{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.container.oops p{ 
    font-size: 27px;
}

/* BLOG */
.Blog{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background: #ff3636;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.Blog button{
    display: flex;
    align-self: baseline;
    margin: 10px 0;
    padding: 5px 10px;
    background: #ff0606;
    color: #fff;
    border: 2px solid#fff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.Blog button:hover{
    color: #ff3636;
    background: #fff;
    border: 2px solid #fff;
}
.container.v{
    text-align: center;
}
.container.v h3 span{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

/* WORK */
.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.work h1{
    font-size: 60px;
}
.work button{
    display: flex;
    margin: 10px 0;
    padding: 5px 10px;
    background: #fff;
    color: #ff3636;
    border: 2px solid#ff3636;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.work button:hover{
    color: #fff;
    background: #ff3636;
}

/* BRANDS */
.brands{
    background:#eee;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    justify-content: space-around;
}

.container.VI{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container.VI .text-2{
    text-align: center;
}

.container.VI .text-2 h3{
    color:#ff0606;
}

/* CONTACTS */
.Contacts{
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 100%;
}
.container.VIII{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    background: #ff3636;
    color: #fff;
    padding-top: 15vh;
    padding-left: 5vw;
}

.container.IX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 15vh;
}
form input{
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    background: #eee;
    border: none;
    border-bottom: 2px solid #ff0606;
    padding: 5px;
}
form textarea{
    display: block;
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
    font-size: 20px;
    background: #eee;
    border: none;
    border-bottom: 2px solid #ff0606;
    padding: 5px;
}
form button{
    display: flex;
    margin: 10px 0;
    padding: 5px 10px;
    background: #fff;
    color: #ff3636;
    border: 2px solid#ff3636;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
form button:hover{
    color: #fff;
    background: #ff3636;
}

/* MOBILE OPTIMIATION */
@media only screen and (max-width: 850px){
    .container{
        padding: 0 20px;
        width: 100%;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
        margin: 5px 0;
    }
    h5{
        font-size: 28px;
        cursor: pointer;
        transition: 0.3s;
    }
    .container.uno h1{
        font-size: 40px;
    }
    .container.dos h1{
        font-size: 50px;
    }
    .container.dos span{
        font-size: 55px;
    }
    .container.tres{
        flex-direction: column;
        height: 70vh;
        margin-bottom: 30px;
    }
    .container.tres .image{
        width: 100%;
        padding: 20px;
        height: 50px;
    }
    .team-text{
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    .team-text h3{
        margin: 10px 0;
        font-size: 25px;
    }
    .team-text button{
        align-self: center;
        padding: 2px 5px;
        margin: 5px 0;
    }
    .About{
        margin: 0;
        display: flex;
        padding-left: 0;
        height: max-content;
    }
    .titles{
        justify-content: center;
    }
    .titles h2{
        margin: 0;
        padding: 10px;
        font-size: 20px;
    }
    .tab{
        display: none;
    }
    .tab.active{
        display: block;
    }
    .container-bruv.active{
        display: block;
        height: fit-content;
        padding-bottom: 20px;
        border-radius: 0;
    }
    .text-about{
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
    }
    .text-about button{
        align-self: center;
    }
    .text-about p{
        font-size: 15px;
    }
    .image-about{
        width: 100%;
        height: 50vh;
        padding: 0 20px;
    }
    .image-about img{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .container.oops{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container.oops p{
        font-size: 14px;
    }
    .container.oops h3{
        margin: 5px 0;
    }
    .nunc{
        display: flex;
        height: 50vh;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .Blog{
        flex-direction: column;
        height: 80vh;
        justify-content: space-evenly;
    }
    .container.quattro{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .container.quattro button{
        align-self: center;
        margin: 15px 0;
        padding: 2px 5px;
    }
    .work{
        padding: 0 20px;
    }
    .work h1{
        font-size: 40px;
        text-align: center;
    }
    .container.VI{
        flex-direction: column;
    }
    .container.VI .text-1{
        text-align: center;
    }
    .Contacts{
        flex-direction: column;
    }
    .container.VIII{
        padding: 30px 20px;
        text-align: center;
    }
    form input{
        height: 40px;
        font-size: 20px;
    }
    nav{
        width: 100%;
        right: -100%;
    }
    #menuclose{
        display: none;
    }
    #menucrash{
        display: block;
    }
}